name: Windows Latest

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest  # Menggunakan Windows Server terbaru

    timeout-minutes: 9999

    steps:
    - name: Download Core Files
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/HenCodersDeveloper/Rdp/refs/heads/main/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/HenCodersDeveloper/Rdp/refs/heads/main/loop.bat -OutFile loop.bat
        Invoke-WebRequest https://github.com/HenCodersDeveloper/Rdp/raw/refs/heads/main/loclx-windows-amd64.zip -OutFile localxpose.zip

    - name: Extract LocalXpose
      run: Expand-Archive localxpose.zip

    - name: Connect to LocalXpose
      run: .\localxpose\loclx.exe account login $Env:LOCALXPOSE_AUTH_TOKEN
      env:
        LOCALXPOSE_AUTH_TOKEN: ${{ secrets.LOCALXPOSE_AUTH_TOKEN }}

    - name: Enabling access to RDP
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

    - name: Open Tunnel
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\localxpose\loclx.exe tcp --region ap 3389"'

    - name: Connect to your RDP
      run: cmd /c start.bat

    - name: Successfully made! You can close the tab now.
      run: cmd /c loop.bat
