name: Windows Latest

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest

    timeout-minutes: 9999

    steps:
    - name: Download Core Files
      run: |
        Invoke-WebRequest -Uri https://raw.githubusercontent.com/HenCodersDeveloper/Rdp/refs/heads/main/start.bat -OutFile start.bat
        Invoke-WebRequest -Uri https://raw.githubusercontent.com/HenCodersDeveloper/Rdp/refs/heads/main/loop.bat -OutFile loop.bat
        Invoke-WebRequest -Uri https://github.com/HenCodersDeveloper/Rdp/raw/refs/heads/main/loclx-windows-amd64.zip -OutFile localxpose.zip

    - name: Extract LocalXpose
      run: Expand-Archive -Path localxpose.zip -DestinationPath localxpose

    - name: Create Token File
      run: echo ${{ secrets.LOCALXPOSE_AUTH_TOKEN }} > localxpose/token.txt

    - name: Login to LocalXpose
      run: .\localxpose\loclx.exe account login < localxpose/token.txt

    - name: Enabling access to RDP
      run: | 
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

    - name: Open Tunnel
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\localxpose\loclx.exe tunnel tcp --region ap --to localhost:3389"'

    - name: Connect to your RDP
      run: cmd /c start.bat

    - name: Successfully made! You can close the tab now.
      run: cmd /c loop.bat
